# Problem Set 2 - Pravneet Singh

### Question 1)

This problem set is based on lectures 4,5 and 6. For a complete list of topics please consult page 2 of the course syllabus. Please consult the â€œInstructions for Problem Set Submissionsâ€ document under course information before submitting your assignment.

In [1]:
a = 0  
def b():     
    global a     
    a = c(a)  

def c(a):     
    return a + 2

In [2]:
b()

In [3]:
b()

In [4]:
b()

In [5]:
a

6

The answer to this is 6.

This is because with the first function b call, the output returns 2.
This is because a is first 0, then b() function is evaluated with a being 0, but as a=c(0), therefore c function is called as c(0) and returns 0 + 2 therefore the first iteration function b call returns 2.

Likewise, the second function b call returns 4 and the third function b call returns 6.

In the end the value of a is 6 with the third function b call returning a as 6.

### Question 2)

Function fileLength(), given to you, takes the name of a file as input and returns the length of the file: 
As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:

In [6]:
def file_length(file_name):
    file = open(file_name, encoding="utf8")
    contents = file.read()
    file.close()
    print(len(contents))

In [7]:
file_name = 'urrencies.txt'
try:
    file_length('urrencies.txt')
except FileNotFoundError:
    msg = "Sorry, the file "+ file_name + " is not found."
    print(msg)

Sorry, the file urrencies.txt is not found.

As shown above, with the try except (exception handling), the error has been replaced with a friendly error message as the file was incorrect and could not be read.

### Question 3)

Write a class named Marsupial that can be used as shown below:  

m = Marsupial() 

m.put_in_pouch('doll') 

m.put_in_pouch('firetruck')

m.put_in_pouch('kitten') 

m.pouch_contents() 

['doll', 'firetruck', 'kitten'] 

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also: a. extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object, b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and c. overloads the __str__ operator so it behaves as shown below.

In [8]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch


class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return "I am a Kangaroo located at coordinates ({},{})".format(self.x, self.y)

In [9]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')

In [10]:
print(m.pouch_contents())

['doll', 'firetruck', 'kitten']

In [11]:
k = Kangaroo(0, 0)

In [12]:
print(k)

I am a Kangaroo located at coordinates (0,0)

In [13]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')

In [14]:
print(k.pouch_contents())

['doll', 'firetruck', 'kitten']

In [15]:
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)

In [16]:
print(k)

I am a Kangaroo located at coordinates (3,0)

### Question 4)

Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:   

x = {  ð‘¥/2                    ð‘–ð‘“ ð‘¥ ð‘–ð‘  ð‘’ð‘£ð‘’ð‘› 

3ð‘¥+1              ð‘–ð‘“ ð‘¥ ð‘–ð‘  ð‘œð‘‘ð‘‘ 

Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.

In [17]:
def collatz(x):
    print(x)
    
    if x == 1:
        return
    
    if x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)

In [18]:
 collatz(1)

1

In [19]:
collatz(10)

10
5
16
8
4
2
1

So as shown above, function stops till sequence gets to 1, it takes a positive integer x as input and prints the Collatz sequence starting at x

### Question 5)

Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

In [20]:
def binary(n):
    if n > 1:
        binary(n//2)
    print(n % 2,end = '')

In [21]:
binary(9)

1001

As shown above, it takes a non neg integer n which is 9 and returns its binary equivalent 1001 as its taking the remainders when dividing by 2 and combining them.

### Question 6)

Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should haveindentation 0, and h2 heading should have indentation 1, etc.

In [22]:
from html.parser import HTMLParser
from bs4 import BeautifulSoup

 

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.headings = []
        self.indentation = 0

    def handle_starttag(self, tag, attrs):
        if tag.startswith('h'):
            self.indentation = int(tag[1:]) - 1

    def handle_endtag(self, tag):
        if tag.startswith('h'):
            self.indentation = 0
            
    def handle_data(self, data):
        heading = data.strip()
        if heading and self.indentation >= 0:
            self.headings.append((' ' * self.indentation) + heading)

    def print_headings(self):
        for heading in self.headings:
            print(heading)

In [23]:
infile = open('w3c.html')

In [24]:
content = infile.read()

In [25]:
infile.close()
hp = HeadingParser()

In [26]:
# Create a BeautifulSoup object
soup = BeautifulSoup(content, 'html.parser')

# Find multiple heading tags (e.g., <h1>, <h2>, etc.)
headings = soup.find_all(['h1', 'h2'])  # Modify the tag names as per your HTML structure
 

# Print the text content of each heading
for heading in headings:
    print(heading.text.strip())

W3C Mission
Principles

### Question 7)

Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent,  should be used to indicate the depth of a URL.

In [27]:
import requests
from bs4 import BeautifulSoup


def webdir(url, depth, indent=0):
    if depth < 0:
        return

    try:
        response = requests.get(url)
        soup = BeautifulSoup(response.text, 'html.parser')
        print(' ' * indent + url)

        if depth == 0:
            return

        links = soup.find_all('a')
        for link in links:
            href = link.get('href')
            if href.startswith('http'):
                webdir(href, depth - 1, indent + 4)

    except requests.exceptions.RequestException:
        return
    
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test2.html', 2, 4)
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test4.html', 2, 8)
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test3.html', 2, 4)
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test4.html', 2, 8)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
    http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
        http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
    http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
        http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

### Question 8)

Write SQL queries on the below database table that return:  

a) All the temperature data. 

b) All the cities, but without repetition. 

c) All the records for India. 

d) All the Fall records. 

e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters. 

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order. 

g) The total annual rainfall for Cairo. 

h) The total rainfall for each season.

In [28]:
#!/usr/bin/python

import sqlite3

conn = sqlite3.connect('test_database') 
c = conn.cursor()

#importing SQLlite

In [29]:
c.execute('''
          CREATE TABLE IF NOT EXISTS Weather(
          [City] TEXT,
          [Country] TEXT,
          [Season] TEXT,
          [Temperature] Real,
          [Rainfall] Real
          );''')
          
#creating table

In [30]:
c.execute('''
          INSERT INTO Weather (City, Country ,Season ,Temperature,Rainfall)

                VALUES
                ('Mumbai','India','Winter',24.8,5.9),
                ('Mumbai','India','Spring',28.4,16.2),
                ('Mumbai','India','Summer',27.9,1549.4),
                ('Mumbai','India','Fall',27.6,346.0),
                ('London','United Kingdom','Winter',4.2,207.7),
                ('London','United Kingdom','Spring',8.3,169.6),
                ('London','United Kingdom','Summer',15.7,157.0),
                ('London','United Kingdom','Fall',10.4,218.5),
                ('Cairo','Egypt','Winter',13.6,16.5),
                ('Cairo','Egypt','Spring',20.7,6.5),
                ('Cairo','Egypt','Summer',27.7,0.1),
                ('Cairo','Egypt','Fall',22.2,4.5)
          ''')
#Inserting values into table

In [31]:
c.execute("SELECT Temperature FROM Weather")

#All the temperature data.

In [32]:
print(c.fetchall())

[(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]

In [33]:
c.execute("SELECT DISTINCT City FROM Weather")
print(c.fetchall())

#All the cities, but without repetition.

[('Mumbai',), ('London',), ('Cairo',)]

In [34]:
c.execute("SELECT * FROM Weather WHERE Country = 'India'")
print(c.fetchall())

#All the records for India.

[('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [35]:
c.execute("SELECT * FROM Weather WHERE Season = 'Fall'")
print(c.fetchall())

#All the Fall records.

[('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [36]:
c.execute("SELECT City, Country, Season FROM Weather WHERE Rainfall Between 200 AND 400")
print(c.fetchall())

#The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

[('Mumbai', 'India', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('London', 'United Kingdom', 'Fall')]

In [37]:
c.execute("SELECT City, Country FROM Weather WHERE Season = 'Fall' AND Temperature>20 Order by Temperature")
print(c.fetchall())

#The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [38]:
c.execute("SELECT Sum(Rainfall) FROM Weather WHERE City = 'Cairo'")
print(c.fetchall())

#The total annual rainfall for Cairo.

[(27.6,)]

In [39]:
c.execute("SELECT Season, Sum(Rainfall) FROM Weather GROUP BY Season")
print(c.fetchall())

#The total rainfall for each season.

[('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

### Question 9)

Suppose list words is defined as follows: 
    
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] 

Write list comprehension expressions that use list words and generate the following lists:

In [40]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

#list

In [41]:
Upper = [word.upper() for word in words]

#for uppercase of the list words

In [42]:
print(Upper)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [43]:
Lower = [word.lower() for word in words]

#to convert ot lowercase

In [44]:
print(Lower)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [45]:
length = [len(word) for word in words]

#length of the words in the list

In [46]:
print(length)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [47]:
UPLOWLEN = [[word.upper(), word.lower(), len(word)] for word in words]

#the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word

In [48]:
print(UPLOWLEN)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [49]:
Greater4 = [word for word in words if len(word) > 3]

#(the list of words in list words containing 4 or more characters

In [50]:
print(Greater4)

['quick', 'brown', 'jumps', 'over', 'lazy']